.mainPage {
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: end;
}

.mainPage .order {
  margin-left: 50px;
  margin-bottom: 50px;
}

.mainPage .order a button {
  background-color: brown;
  color: white;
  border: none;
  height: 50px;
  width: 200px;
  border-radius: 30px;
  font-size: x-large;
  cursor: pointer;
}